name: Build PDF

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Compile LaTeX with biber
        uses: xu-cheng/latex-action@v3
        with:
          root_file: main.tex
          latexmk_use_biber: true
